<canvas id="canvasRain"></canvas>

<div class="mainWrapper">

  <script>
    var ctx;
    var imgDrops;
    var x = 0;
    var y = 0;
    var noOfDrops = 50;
    var fallingDrops = [];

    function draw() {

      for (var i=0; i < noOfDrops; i++) {
        ctx.drawImage (fallingDrops[i].image, fallingDrops[i].x, fallingDrops[i].y); // The rain drop

        fallingDrops[i].y += fallingDrops[i].speed; // Set the falling speed
        if (fallingDrops[i].y > 240) {  // Repeat the raindrop when it falls out of view
          fallingDrops[i].y = -25 // Account for the image size
          fallingDrops[i].x = Math.random() * 2000;    // Make it appear randomly along the width
        }
      }
    }

    function setup() {
      var canvas = document.getElementById('canvasRain');

      if (canvas.getContext) {
        ctx = canvas.getContext('2d');

        setInterval(draw, 36);
        for (var i = 0; i < noOfDrops; i++) {
          var fallingDr = new Object();
          fallingDr["image"] =  new Image();
          fallingDr.image.src = '/img/pokeball.png';

          fallingDr["x"] = Math.random() * 2000;
          fallingDr["y"] = Math.random() * 5;
          fallingDr["speed"] = 3 + Math.random() * 5;
          fallingDrops.push(fallingDr);
        }

      }
    }

    setup();
  </script>

  <header class="bg-color-grayDark1 text-color-light">
    <div class="container">
      <div class="row">

        <div id="logo-region" class="col-md-3">
          <h3 class="logo-text">{{title}}</h3>
        </div> <!-- /logo-region -->

        <div id="menu-region" class="col-md-9">
          <nav class="navbar main-menu-theme1" role="navigation">
            <!-- Menu button for mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">MENU</button>
            </div>

            <!-- Navigation links -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-right navbar-nav">
                <li class="active"><a href="#/">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games</a>
                  <ul class="dropdown-menu">
                    <li><a href="#/race">Relay Race{{test}}</a></li>
                  </ul>
                </li>
              </ul>
            </div> <!-- /navbar-collapse -->
          </nav>
        </div> <!-- /menu-region -->

      </div> <!-- /row -->
    </div> <!-- /container -->
  </header>

  <div id="content-region" class="region">
    <div class="container">

      <div id="main-content-block">

        <div class="row">
          <div class="text-center col-xs-12 col-md-offset-2 col-md-8">

            <h1>Choose your Pok&eacute;mon!</h1>

            <hr />

            <div class="row">
            {{#each pokemon}}
              <a href="#/race/vote/{{this.name}}" title="Bet on {{this.name}}!">
                <div class="col-md-3 col-xs-6 poketile">
                  <img src="{{this.fpic}}" />
                  <p>Species: {{this.name}}</p>
                  <p>Speed: {{this.speed}}</p>
                </div>
              </a>
            {{/each}}
            </div>

          </div>
        </div>

      </div> <!-- /main-content-block -->

    </div> <!-- /container -->
  </div> <!-- /content-region -->

  <footer class="region bg-color-grayDark1 text-color-light">
    <div class="container no-padding no-margin">

      <div id="footer-1-block" class="footer-1 block">

        <div class="row">

          <div class="footer-author text-center col-xs-12">
            <p>Copyright &copy; 2016</p>
          </div> <!-- /footer-content -->

        </div> <!-- /row -->

      </div> <!-- /footer-1-block -->

    </div> <!-- /container -->
  </footer> <!-- /footer -->

</div> <!-- /mainWrapper -->

<!-- jQuery 1.10.2 -->
<script src="/js/jquery-1.10.2.min.js"></script>
<!-- jQuery Plugins -->
<script src="/js/bootstrap.min.js"></script>
<!--[if lte IE 9]>
<script src="js/jquery.placeholder.js"></script>
<![endif]-->
<script src="/js/app.js"></script>
