<canvas id="canvasRain"></canvas>

<div class="mainWrapper">

  <script>
    var ctx;
    var imgDrops;
    var x = 0;
    var y = 0;
    var noOfDrops = 50;
    var fallingDrops = [];

    function draw() {

      for (var i=0; i < noOfDrops; i++) {
        ctx.drawImage (fallingDrops[i].image, fallingDrops[i].x, fallingDrops[i].y); // The rain drop

        fallingDrops[i].y += fallingDrops[i].speed; // Set the falling speed
        if (fallingDrops[i].y > 240) {  // Repeat the raindrop when it falls out of view
          fallingDrops[i].y = -25 // Account for the image size
          fallingDrops[i].x = Math.random() * 2000;    // Make it appear randomly along the width
        }
      }
    }

    function setup() {
      var canvas = document.getElementById('canvasRain');

      if (canvas.getContext) {
        ctx = canvas.getContext('2d');

        setInterval(draw, 36);
        for (var i = 0; i < noOfDrops; i++) {
          var fallingDr = new Object();
          fallingDr["image"] =  new Image();
          fallingDr.image.src = '/img/pokeball.png';

          fallingDr["x"] = Math.random() * 2000;
          fallingDr["y"] = Math.random() * 5;
          fallingDr["speed"] = 3 + Math.random() * 5;
          fallingDrops.push(fallingDr);
        }

      }
    }

    setup();
  </script>

  <script>
    var hasBeenSelected = false;
    function selectThis(elem) {
      if(!hasBeenSelected) {
        elem.classList.add('poketile-selected');
        hasBeenSelected = true;
        document.getElementById("button").disabled = false;
        var $target = $('html,body');
        $target.animate({scrollTop: $target.height()}, 1000);
      }

      $("#button").click(function() {
        // Stop existing audio track(s)
        $('audio').each(function(){
          this.pause(); // Stop playing
          this.currentTime = 0; // Reset time
        });

        // Start race music
        document.getElementById('race_music').play();
      });
    }
  </script>

  <header class="bg-color-grayDark1 text-color-light">
    <div class="container">
      <div class="row">

        <div id="logo-region" class="col-md-3">
          <h3 class="logo-text">{{title}}</h3>
        </div> <!-- /logo-region -->

      </div> <!-- /row -->
    </div> <!-- /container -->
  </header>

  <!-- Poké Music! -->
  <audio loop="loop" autoplay="autoplay" id="poke_chooser_music">
    <source src="/music/choose_pokemon.mp3" type="audio/mpeg" />
  </audio>
  <audio loop="loop" id="race_music">
    <source src="/music/race_begins.m4a" type="audio/mpeg" />
  </audio>
  <audio loop="loop" id="race_win_music">
    <source src="/music/race_win.mp3" type="audio/mpeg" />
  </audio>
  <audio loop="loop" id="race_loss_music">
    <source src="/music/race_loss.mp3" type="audio/mpeg" />
  </audio>

  <div id="content-region" class="region">
    <div class="container">

      <div id="main-content-block">

        <div class="row">
          <div class="text-center col-xs-12 col-md-offset-2 col-md-8">

            <h1>Choose your Pok&eacute;mon!</h1>

            <hr />

            <div id="race-vote" class="row">
            {{#each pokemon}}
              <a href="#/race/vote/{{this.name}}" title="Bet on {{this.name}}!">
                <div id="tile-{{this.name}}" class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-1 col-xs-6 col-xs-offset-0 poketile" onclick="selectThis(this)">
                  <img src="{{this.fpic}}" />
                  <p>Species: {{this.name}}</p>
                  <p>Speed: {{this.speed}}</p>
                </div>
              </a>
            {{/each}}
            </div>
            <button id="button" type="button" class="btn btn-lg btn-primary" disabled>Race!</button>
          </div>
        </div>

        <div id="race" class="row" style="display: none">
          <div id="pokeracers">
            <img src="/img/finish_line.jpg" id="finish-line" alt="Finish Line" />
          {{#each pokemon}}
            <div class="animate{{this.position}} up-one-pixel"><img id="plane" src="{{this.fpic}}" /></div>
          {{/each}}
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="raceEndModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Race results</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
            </div>
          </div>
        </div>

      </div> <!-- /main-content-block -->

    </div> <!-- /container -->
  </div> <!-- /content-region -->

  <footer class="region bg-color-grayDark1 text-color-light navbar-fixed-bottom">
    <div class="container">

      <div id="footer-1-block" class="footer-1 block">

        <div class="row">

          <div class="footer-author text-center col-xs-12">
            <p>Copyright &copy; 2016 Pok&eacute;masters, GmbH</p>
          </div> <!-- /footer-content -->

        </div> <!-- /row -->

      </div> <!-- /footer-1-block -->

    </div> <!-- /container -->
  </footer> <!-- /footer -->

</div> <!-- /mainWrapper -->

<!-- jQuery 1.10.2 -->
<script src="/js/jquery-1.10.2.min.js"></script>
<!-- jQuery Plugins -->
<script src="/js/bootstrap.min.js"></script>
<!--[if lte IE 9]>
<script src="js/jquery.placeholder.js"></script>
<![endif]-->
<script src="/js/app.js"></script>
<!-- jquery lettering -->
<script src="/js/jquery.lettering-0.6.1.min.js"></script>
<!-- textillate js -->
<script src="/js/textillate.js"></script>
<!-- textillate css -->
<link href="/stylesheets/textillate.css" rel="stylesheet" />
<!-- animate.css -->
<link href="/stylesheets/animate.min.css" rel="stylesheet" />
<script>
  function goRight(object, speed) {
    $(object).animate({
      left: "+=25%"
    }, speed, "linear");
  }


$("#button").click(function() {
  {{#each pokemon}}
  goRight('.animate{{this.position}}', {{this.moveSpeed1}})
  {{/each}}
  {{#each pokemon}}
  goRight('.animate{{this.position}}', {{this.moveSpeed2}})
  {{/each}}
  {{#each pokemon}}
  goRight('.animate{{this.position}}', {{this.moveSpeed3}})
  {{/each}}
  {{#each pokemon}}
  goRight('.animate{{this.position}}', {{this.moveSpeed4}})
  {{/each}}
  var button = document.getElementById('button')
  button.disabled = true;
  button.id = "reset";


  setTimeout(function() {

  console.log("Winner Delay");
    // Stop existing audio track(s)
    $('audio').each(function(){
      this.pause(); // Stop playing
      this.currentTime = 0; // Reset time
    });

    // Get URL hash
    var urlHash = window.location.hash;
    console.log("URL hash: " + urlHash);
    var pokeNameRegex = /^#\/race\/vote\/(\w*)/g;
    var match = pokeNameRegex.exec(urlHash);
    if(match[1] === "{{winnerName}}") {
      // Player chose correctly; play victory music
      console.log("Player won!");
      document.getElementById('race_win_music').play();
      var mymodal = $('#raceEndModal');
      mymodal.find('.modal-body').text('You won! :\)');
      mymodal.modal('show');
    } else {
      // Player lost :( – play loss music
      console.log("Player lost.");
      document.getElementById('race_loss_music').play();
      var mymodal = $('#raceEndModal');
      mymodal.find('.modal-body').text('You lost! :\(');
      mymodal.modal('show');
    }

      button.innerHTML = "New Race";
      button.disabled = false;

      button.onclick = function() {location.reload();}

  }, {{winnerDelay}});

});
</script>

<script>
  $("#race-vote").click(function() {
    document.getElementById("race").style.display = "block";
    console.log("let's race");
  });
</script>
<script>
$('.textillate').textillate({
  in: { effect: 'splat' },
  out: { effect: 'foldUnfold', sync: true },
  loop: true
});
</script>
